.formField {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.inputBlock {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	gap: 1rem;
}

.label {
	font-size: 1.5rem;
	font-weight: bold;
	color: #969696;
	padding: 0rem 1rem;
}

.inputField {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 0.5rem;
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.inputFieldReadOnly {
	box-shadow: none;
}

.input {
	width: 100%;
	border: none;
	outline: none;
	color: #6b6b6b;
	background-color: #ffffff;
}

.icon {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: #414141;
}

.icon:hover {
	opacity: 0.75;
	cursor: pointer;
}

@media screen and (min-width: 400px) {
	.label {
		font-size: 1.75rem;
	}
	.inputField {
		font-size: 1.75rem;
	}
	.icon {
		font-size: 2.35rem;
	}
}

@media screen and (min-width: 500px) {
	.label {
		font-size: 2rem;
	}
	.inputField {
		font-size: 2rem;
	}
	.icon {
		font-size: 2.7rem;
	}
}
