.page {
	height: calc(100vh - 7rem);
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
}

.center {
	justify-content: center;
}

@media screen and (min-width: 500px) {
	.page {
		height: calc(100vh - 8.5rem);
	}
}
