.formField {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.inputBlock {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	gap: 1rem;
}

.label {
	font-size: 1.5rem;
	font-weight: bold;
	color: #3772ff;
}

.inputField {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 0.5rem;
	color: #3772ff;
	background-color: #f8fafc;
	box-shadow: 0.1rem 0.1rem 0.9rem #3772ff;
}

.input {
	width: 100%;
	border: none;
	outline: none;
	color: #3772ff;
	background-color: #f8fafc;
}

.span {
	height: 2.5rem;
	width: 100%;
	font-size: 1.5rem;
	font-weight: bold;
	color: #e01a4f;
}

.icon {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.icon:hover {
	opacity: 0.75;
	cursor: pointer;
}

@media screen and (min-width: 400px) {
	.label {
		font-size: 1.75rem;
	}
	.inputField {
		font-size: 1.75rem;
		padding: 0.75rem 1rem;
	}
	.span {
		font-size: 1.75rem;
	}
	.icon {
		font-size: 2.35rem;
	}
}

@media screen and (min-width: 500px) {
	.label {
		font-size: 2rem;
	}
	.inputField {
		font-size: 2rem;
		padding: 1rem;
	}
	.span {
		height: 3rem;
		font-size: 2rem;
	}
	.icon {
		font-size: 2.7rem;
	}
}
