.navbar {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	text-decoration: none;
	list-style: none;
}

.listItem {
	font-size: 1.5rem;
	font-weight: bold;
	color: #f8fafc;
	text-decoration: none;
	list-style: none;
	cursor: ponter;
}

.listItem:hover {
	color: #34d399;
	border-radius: 0.5rem;
}

.active {
	color: #34d399;
}

.avatar {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.icon {
	color: #f8fafc;
	cursor: pointer;
	font-size: 1.75rem;
}

.icon:hover {
	color: #34d399;
}

@media screen and (min-width: 400px) {
	.list {
		gap: 2.5rem;
	}
	.listItem {
		font-size: 1.75rem;
	}
	.icon {
		font-size: 2rem;
	}
}

@media screen and (min-width: 500px) {
	.list {
		gap: 3rem;
	}
	.listItem {
		font-size: 2rem;
	}
	.icon {
		font-size: 2.25rem;
	}
}

@media screen and (min-width: 1000px) {
	.list {
		gap: 3.5rem;
	}
}
