.task {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-color: #f0f9ff;
	box-shadow: 0.1rem 0.1rem 0.5rem #3772ff;
}

.taskText {
	width: 80%;
	font-size: 1.25rem;
	font-weight: bold;
	color: #3772ff;
}

.taskButtons {
	width: 20%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.taskActionBtn {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.taskActionBtn:hover {
	opacity: 0.7;
}

.editBtn {
	color: #14b8a6;
}

.deleteBtn {
	color: #e01a4f;
}

@media screen and (min-width: 400px) {
	.taskButtons {
		justify-content: space-around;
	}
}

@media screen and (min-width: 500px) {
	.task {
		width: 50rem;
		border-radius: 0.5rem;
	}
	.taskText {
		font-size: 1.45rem;
	}
}

@media screen and (min-width: 700px) {
	.task {
		width: 60rem;
	}
	.taskText {
		font-size: 1.65rem;
	}
}

@media screen and (min-width: 900px) {
	.task {
		width: 70rem;
	}
	.taskText {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 1200px) {
	.task {
		width: 80rem;
	}
	.task-buttons {
		justify-content: space-evenly;
	}
}
