.task {
	width: 100%;
	padding: 2rem 1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-color: #565656;
	box-shadow: 0.1rem 0.1rem 0.5rem #2c2c2c;
}

.taskText {
	width: 80%;
	font-size: 1.25rem;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
}

.taskButtons {
	width: 20%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.taskActionBtn {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.taskActionBtn:hover {
	opacity: 0.6;
}

.editBtn {
	color: #5f8eff;
}

.deleteBtn {
	color: #ff3772;
}

@media screen and (min-width: 400px) {
	.taskButtons {
		justify-content: space-around;
	}
}

@media screen and (min-width: 500px) {
	.task {
		width: 45rem;
		border-radius: 0.5rem;
	}
	.taskText {
		font-size: 1.45rem;
	}
}

@media screen and (min-width: 600px) {
	.task {
		width: 55rem;
		padding: 2rem;
	}
}

@media screen and (min-width: 700px) {
	.task {
		width: 60rem;
	}
	.taskText {
		font-size: 1.65rem;
	}
}

@media screen and (min-width: 900px) {
	.task {
		width: 70rem;
	}
	.taskText {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 1200px) {
	.task {
		width: 80rem;
	}
	.task-buttons {
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 1200px) {
	.task {
		width: 100rem;
	}
}
