.result {
	width: 100%;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.head,
.head tr,
.head th,
.body {
	border: 0.1rem solid #ababab;
}

.head {
	font-size: 1.5rem;
	font-weight: bold;
	color: #5f8eff;
	background-color: #414141;
}

.head th {
	padding: 0.5rem;
}

.body {
	color: #6b6b6b;
	font-size: 1.25rem;
	font-weight: bold;
}

.body th,
.body td {
	text-align: center;
	padding: 0.5rem 0;
}

@media screen and (min-width: 400px) {
	.head {
		font-size: 1.75rem;
	}
	.body {
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 600px) {
	.result {
		width: 80vw;
	}
	.table {
		border-radius: 0.5rem;
	}
	.head th {
		padding: 1rem;
	}
	.body th,
	.body td {
		padding: 1rem;
	}
}

@media screen and (min-width: 800px) {
	.result {
		width: 70rem;
	}
	.head {
		font-size: 1.85rem;
	}
	.body {
		font-size: 1.65rem;
	}
}

@media screen and (min-width: 1000px) {
	.result {
		width: 85rem;
	}
	.head {
		font-size: 2rem;
	}
	.body {
		font-size: 1.75rem;
	}
}
