.row th,
td {
	border: 0.1rem solid #ababab;
}

.viewBtn {
	padding: 0.3rem 0.5rem;
	border: none;
	border-radius: 0.2rem;
	cursor: pointer;
	color: #ffffff;
	background-color: #1e449e;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.viewBtn:hover {
	opacity: 0.85;
}

.link {
	text-decoration: none;
	list-style: none;
}

@media screen and (min-width: 600px) {
	.viewBtn {
		padding: 0.5rem 1rem;
	}
}
