.dashboardPage {
	min-height: calc(100vh - 7rem);
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 3rem;
	gap: 3rem;
}

.loading {
	min-height: calc(100vh - 7rem);
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.options {
	position: absolute;
	top: 6rem;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;

	background-color: #ffffff;
	box-shadow: 0.1rem 0.1rem 0.9rem #2c2c2c;
}

.options:first-child {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.options:last-child {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

@media screen and (min-width: 500px) {
	.dashboardPage {
		min-height: calc(100vh - 8.5rem);
	}
	.loading {
		min-height: calc(100vh - 8.5rem);
	}
}
