.dashboardPage {
	min-height: calc(100vh - 7rem);
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 3rem;
}

.loading {
	min-height: calc(100vh - 7rem);
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.operations {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 3rem;
	padding: 2rem;
}

@media screen and (min-width: 500px) {
	.dashboardPage {
		min-height: calc(100vh - 8.5rem);
	}
	.loading {
		min-height: calc(100vh - 8.5rem);
	}
}
