.userViewPage {
	min-height: calc(100vh - 7rem);
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
	padding: 3rem;
}

.loading {
	min-height: calc(100vh - 7rem);
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.section {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
	gap: 2rem;
	border-bottom: 0.1rem solid #d5d5d5;
}

.section:last-child {
	border: none;
}

.formBtns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
}

@media screen and (min-width: 400px) {
	.userViewPage {
		gap: 2.5rem;
	}
	.section {
		padding-bottom: 2.5rem;
	}
}

@media screen and (min-width: 500px) {
	.userViewPage {
		min-height: calc(100vh - 8.5rem);
	}
	.loading {
		min-height: calc(100vh - 8.5rem);
	}
	.section {
		gap: 2.5rem;
	}
}

@media screen and (min-width: 600px) {
	.section {
		width: 54rem;
	}
}

@media screen and (min-width: 800px) {
	.section {
		gap: 3rem;
	}
}
