.authPage {
	height: calc(100vh - 7rem);
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 3rem;
	gap: 3.5rem;
}

.loading {
	height: calc(100vh - 7rem);
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 500px) {
	.authPage {
		height: calc(100vh - 8.5rem);
	}
	.loading {
		height: calc(100vh - 8.5rem);
	}
}
