.createTaskPage {
	height: calc(100vh - 7rem);
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 3rem;
}

.loading {
	height: calc(100vh - 7rem);
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.form {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.label {
	font-size: 1.5rem;
	font-weight: bold;
	color: #10b981;
}

.input {
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 0.5rem;
	border: none;
	outline: none;
	color: #3772ff;
	background-color: #f8fafc;
	box-shadow: 0.1rem 0.1rem 0.9rem #3772ff;
}

.createBtn {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	font-weight: bold;
	cursor: ponter;
	padding: 0.5rem 2rem;
	border: none;
	border-radius: 0.5rem;
	color: #f8fafc;
	background-color: #10b981;
	box-shadow: 0.1rem 0.1rem 0.5rem #334155;
}

.createBtn:hover {
	opacity: 0.7;
	cursor: pointer;
}

@media screen and (min-width: 400px) {
	.form {
		gap: 1.5rem;
	}
	.label {
		font-size: 1.75rem;
	}
	.input {
		font-size: 1.75rem;
		padding: 0.75rem 1rem;
	}
	.span {
		font-size: 1.75rem;
	}
	.createBtn {
		font-size: 2rem;
	}
}

@media screen and (min-width: 500px) {
	.createTaskPage {
		height: calc(100vh - 8.5rem);
	}
	.loading {
		height: calc(100vh - 8.5rem);
	}
	.form {
		width: 50rem;
		gap: 2rem;
	}
	.label {
		font-size: 2rem;
	}
	.input {
		font-size: 2rem;
		padding: 1rem;
	}
	.span {
		height: 3rem;
		font-size: 2rem;
	}
	.createBtn {
		font-size: 2.25rem;
	}
}

@media screen and (min-width: 700px) {
	.form {
		width: 60rem;
	}
}

@media screen and (min-width: 900px) {
	.form {
		width: 70rem;
	}
}

@media screen and (min-width: 1200px) {
	.form {
		width: 80rem;
	}
}
