.homePage {
	height: calc(100vh - 7rem);
	background-image: url('./../../public/todo-image-background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0.85;
}

@media screen and (min-width: 500px) {
	.homePage {
		height: calc(100vh - 8.5rem);
	}
}
